/* ===================================
  Base Element Styles
===================================== */

* {
  box-sizing: border-box;
}
body {
  font: 1em/1.5 "Open Sans", sans-serif;
  background: #f5f5f5;
  color: #777;
}
a {
  text-decoration: none;
  color: #434343;
}
h2 {
  font-size: .90em;
  font-weight: 800;
  color: #434343;
  text-transform: uppercase;
}
h3 {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: -5px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

/* ===================================
  Base Layout Styles
===================================== */

/* --- Navigation --- */

.name {
  margin: 0 0 19px;
  font-size: 1.55em;
  font-weight: 800;
}

.name,
nav a {
  text-align: center;
  color: #434343;
}

.main-nav li {
  margin-bottom: 5px;
}

nav a {
  text-transform: uppercase;
  font-size: .90em;
  font-weight: 800;
  display: block;
  background: #fff;
  padding: 10px 15px;
}

/* --- Layout Containers --- */

.container {
  padding: 0 1em;
}

.main-header {
  padding: 1.2em 0;
}

#biography,
main {
  text-align: center;
}

#biography {
  padding: 16px 0 22px;
}

#portfolio {
  padding: 2em 0;
  background: #fff;
  color: #333;
}

#contact {
  padding: 3.2em 0 3.25em;
}

.main-footer {
  color: #434343;
  font-size: .90em;
  font-weight: 800;
  border-top: 1px solid #e2e2e2;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  display: flex;
  justify-content: space-between;
}

/* --- Page Elements --- */

.profile-photo {
  width: 205px;
  margin-bottom: 5px;
}

#gallery {
  margin-top: 50px;
}

#gallery li {
  margin-bottom: 40px;
}

#gallery li p {
  font-size: .95em;
  padding: 0 .5em;
}

#contact h2 {
  margin-bottom: 30px;
}

#contact ul {
  margin-top: 25px;
}

#contact ul li {
  margin-bottom: 12px;
}

#contact ul li span {
  margin-right: 15px;
}

#contact ul li a {
  font-weight: 700;
  color: #777;
}

.main-footer a {
  text-transform: uppercase;
  font-size: .80rem;
}

.desktop-nav {
  display: none;
}

/* ===================================
  Media Queries
===================================== */

@media screen and (min-width: 768px) {
  .container {
    padding-left: 2em;
    padding-right: 2em;
  }
  .main-header .container,
  #biography .container,
  #gallery {
    display: flex;
  }
  .main-header .container {
    flex-direction: column;
    align-items: center;
  }
  .main-header {
    padding-top: 2.6em;
  }
  #biography {
    padding-top: 1.8em;
    padding-bottom: 4em;
  }
  #biography .container {
    justify-content: space-between;
  }
  .main-nav li,
  .desktop-nav li {
    display: inline-block;
  }
  .main-nav li {
    margin-right: 10px;
  }
  nav a {
    background: none;
  }
  .secondary {
    order: -1;
    /* flex: 0 calc(60% - 15px);
    margin-right: 15px; */
    flex: 0 60%;
  }
  .secondary p {
    text-align: left;
    margin-top: 0;
  }
  .primary {
    /* flex: 0 40%; */
    flex: 0 38%;
  }
  .profile-photo {
    width: 100%;
    margin-top: 7.12px;
    margin-bottom: 0;
  }
  #gallery {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* #gallery li {
    flex: 0 49.1%;
  }
  #gallery li:nth-child(2n+1) {
    margin-right: 12px;
  } */
  #gallery li {
    flex: 0 49%;
  }
  #gallery li p {
    padding-left: 2em;
    padding-right: 2em;
  }
  #contact h2 {
    margin-bottom: 40px;
  }
  #contact p {
    padding: 0 2.8em;
  }
  #contact ul {
    margin-top: 50px;
  }
  .desktop-nav {
    display: block;
  }
  .desktop-nav li {
    margin-left: 30px;
  }
  .mobile-nav {
    display: none;
  }
  .secondary p,
  #contact p,
  #contact li span,
  #contact li a {
    font-size: 1.26em;
  }
}
@media screen and (min-width: 1024px) {
  #wrapper {
    width: 94%;
    max-width: 1150px;
    margin: 0 auto;
  }
  .main-header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .name {
    margin-bottom: 0;
  }
  .main-nav li {
    margin-bottom: 0;
  }
  #gallery li {
    flex-basis: 32.3333%;
  }
  /* #gallery li {
    flex-basis: 31.97%;
  }
  #gallery li:nth-child(1n+1) {
    margin-right: 18px;
  }
  #gallery li:nth-child(3n+3) {
    margin-right: 0;
  } */
  #contact h2 {
    margin-bottom: 30px;
  }
}
