/* ===================================
  Base Element Styles
===================================== */

* {
  box-sizing: border-box;
}
body {
  font: 1em/1.5 "Open Sans", sans-serif;
  background: #f5f5f5;
  color: #777;
}
a {
  text-decoration: none;
  color: #434343;
}
p {

}
h2 {
  font-size: .90em;
  font-weight: 800;
  color: #434343; /* ? */
  text-transform: uppercase;
}
h3 {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: -5px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

/* ===================================
  Base Layout Styles
===================================== */

/* --- Navigation --- */

.name {
  margin: 0 0 19px;
  font-size: 1.55em;
  font-weight: 800;
}

.name,
nav a {
  text-align: center;
  color: #434343; /* ? */
}

.main-nav li {
  margin-bottom: 5px;
}

nav a {
  text-transform: uppercase;
  font-size: .90em;
  font-weight: 800;
  display: block;
  background: #fff;
  padding: 10px 15px;
}

/* --- Layout Containers --- */

.container {
  padding: 0 1em;
}

.main-header {
  padding: 1.2em 0;
}

#biography,
main {
  text-align: center;
}

#biography {
  padding: 16px 0 22px;
}

#portfolio {
  padding: 2em 0;
  background: #fff;
  color: #333;
}

#contact {
  padding: 3.2em 0 3.25em;
}

.main-footer {
  color: #434343;
  font-size: .90em;
  font-weight: 800;
  border-top: 1px solid #ccc;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  display: flex;
  justify-content: space-between;
}

/* --- Page Elements --- */

.profile-photo {
  width: 205px;
  margin-bottom: 5px;
}

#gallery {
  margin-top: 45px;
}

#gallery li {
  margin-bottom: 40px;
}

#gallery li p {
  font-size: .95em;
  padding: 0 .5em;
}

#contact h2 {
  margin-bottom: 30px;
}

#contact ul {
  margin-top: 25px;
}

#contact ul li {
  margin-bottom: 12px;
}

#contact ul li span {
  margin-right: 15px;
}

#contact ul li a {
  font-weight: 700;
  color: #777;
}

.main-footer a {
  text-transform: uppercase;
  font-size: .80rem;
}

.desktop-nav {
  display: none;
}
