/* ===================================
  Base Element Styles
===================================== */

* {
  box-sizing: border-box;
}
body {
  font: 1em/1.5 "Open Sans", sans-serif;
  background: #f5f5f5;
  color: #777;
}
a {
  text-decoration: none;
  color: #434343;
}
h2,
h3 {
  letter-spacing: -.5px;
}
h2 {
  font-size: .905em;
  font-weight: 800;
  color: #434343;
  text-transform: uppercase;
}
h3 {
  font-weight: 600;
  font-size: 1.155em;
  margin-bottom: -5px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

/* ===================================
  Base Layout Styles
===================================== */

/* --- Navigation --- */

.name {
  margin: 0 0 19px;
  font-family: "Courgette";
  font-size: 1.95em;
  font-weight: 800;
}

.name,
nav a {
  text-align: center;
  color: #434343;
}

.main-nav li {
  margin-bottom: 5px;
}

nav a {
  text-transform: uppercase;
  font-size: .90em;
  font-weight: 800;
  display: block;
  background: #fff;
  padding: 9.5px 15px;
}

/* --- Layout Containers --- */

.container {
  padding: 0 1em;
}

.main-header {
  padding: 1.2em 0;
}

#biography,
main {
  text-align: center;
}

#biography {
  padding: 16px 0 24px;
}

#portfolio {
  padding: 2em 0;
  background: #fff;
  color: #333;
}

#skills {
  padding: 3em 0 3.25em;
}

#contact {
  padding-bottom: 3.25em;
}

.main-footer {
  color: #434343;
  font-size: .90em;
  font-weight: 800;
  border-top: 1px solid #e2e2e2;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
}

/* --- Page Elements --- */

.profile-photo {
  width: 205px;
  margin-bottom: 3px;
}

#gallery {
  margin-top: 48px;
}

#gallery li {
  margin-bottom: 33px;
}

#gallery li p {
  font-size: .92em;
  padding: 0 .5em;
}

#skills h2,
#contact h2 {
  margin-bottom: 30px;
}

#contact p {
  letter-spacing: -.5px;
}

#skills ul,
#contact ul {
  margin-top: 30px;
}

.skill,
#contact ul li {
  margin-bottom: 12px;
}

.skill {
  border-radius: 25px;
  padding: 5px 15px;
  color: white;
  font-weight: 600;
  display: inline-block;
}

.html {
  background: #ffa949;
}

.css {
  margin-left: 10px;
  background: royalblue;
}

#contact ul li span {
  margin-right: 15px;
}

#contact ul li a {
  font-weight: 700;
  color: #777;
}

.main-footer a {
  text-transform: uppercase;
  font-size: .80rem;
}

.main-footer span {
  float: left;
}

.mobile-nav {
  float: right;
}

.desktop-nav {
  display: none;
}

/* ===================================
  Media Queries
===================================== */

@media screen and (min-width: 768px) {
  .container {
    padding-left: 2em;
    padding-right: 2em;
  }
  .main-header {
    text-align: center;
  }
  .main-header {
    padding-top: 2.8em;
  }
  #biography {
    padding-top: 1.5em;
    padding-bottom: 3.5em;
  }
  .main-nav li,
  .desktop-nav li {
    display: inline-block;
  }
  .main-nav li {
    margin-right: 10px;
  }
  .main-nav a:hover {
    background: #fff;
    border-radius: 4px;
  }
  nav a {
    background: none;
  }
  .secondary {
    float: left;
    width: 59%;
    padding-right: 1em;
  }
  .secondary p {
    text-align: left;
    margin-top: 0;
    letter-spacing: -.5px;
  }
  .primary {
    float: right;
    width: 41%;
  }
  .profile-photo {
    width: 100%;
    margin-top: 7.12px;
    margin-bottom: 0;
  }
  #gallery li {
    float: left;
    width: 49.152%;
  }
  #gallery li:nth-child(2n) {
    margin-left: 1.696%;
  }
  #gallery li p {
    padding-left: 2em;
    padding-right: 2em;
  }
  #skills h2,
  #contact h2 {
    margin-bottom: 40px;
  }
  #contact p {
    padding: 0 3.8em;
  }
  #contact ul {
    margin-top: 50px;
  }
  #contact ul li {
    margin-bottom: 15px;
  }
  .desktop-nav {
    display: block;
    float: right;
  }
  .desktop-nav li {
    margin-left: 30px;
  }
  .desktop-nav a:hover {
    color: #ccc;
  }
  .mobile-nav {
    display: none;
  }
  .secondary p,
  #contact p,
  #contact li span,
  #contact li a {
    font-size: 1.26em;
  }
}
@media screen and (min-width: 906px) {
  #gallery li:nth-child(3) {
    clear: left;
  }
}
@media screen and (min-width: 1024px) {
  #wrapper {
    width: 94%;
    max-width: 1150px;
    margin: 0 auto;
  }
  .main-header {
    padding-top: 3.1em;
  }
  .name {
    float: left;
    margin-bottom: 0;
  }
  .main-nav {
    float: right;
  }
  .main-nav li {
    margin-bottom: 0;
  }
  #biography {
    padding-bottom: 3.2em;
  }
  #gallery li {
    width: 32%;
  }
  #gallery li:nth-child(2n) {
    margin-left: 0;
  }
  #gallery li:nth-child(3n + 0),
  #gallery li:nth-child(3n - 1) {
    margin-left: 2%;
  }
  #gallery li:nth-child(3) {
    clear: none;
  }
  #gallery li p {
    padding-left: 0;
    padding-right: 0;
  }
  #skills h2,
  #contact h2 {
    margin-bottom: 30px;
  }
}

/* --- ClearFix --- */

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}
